/build
node_modules
.idea
.env
.vscode/
/storybook-static
/.loki/report.html
/.loki/report.json
/extractedTranslations

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
