.root {
    cursor: pointer;
    padding: var(--button-padding);
}

.pure,
.pureInverted {
    border: none;
    outline: none;
    background: none;
    padding: var(--button-padding);
}

.pureInverted {
    color: var(--inverted-primary-color);
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.square {
    padding: 0;
}

.square.size-s {
    width: var(--size-s);
    height: var(--size-s);
}

.square.size-m {
    width: var(--size-m);
    height: var(--size-m);
    font: var(--font-size-m);
}

.square.size-l {
    width: var(--size-l);
    height: var(--size-l);
    font: var(--font-size-l);
}

.square.size-xl {
    width: var(--size-xl);
    height: var(--size-xl);
    font: var(--font-size-xl);
}

.square.size-xxl {
    width: var(--size-xxl);
    height: var(--size-xxl);
    font: var(--font-size-xxl);
}

.size-s {
    font: var(--font-s);
}

.size-m {
    font: var(--font-m);
}

.size-l {
    font: var(--font-l);
}

.size-xl {
    font: var(--font-xl);
}

.disabled {
    opacity: 0.5;
}
