.root {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.4s;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.theme {
    margin-bottom: var(--common-margin);
}

.collapsedBtn {
    position: absolute;
    bottom: 40px;
    right: -20px;
}
