.app.dark {
    --bg-color: #3e392c;
    --inverted-bg-color: #e8e7e5;
    --primary-color: #b9c7c8;
    --secondary-color: #ebf0f0;
    --inverted-primary-color: #083336;
    --inverted-secondary-color: #091c1c;
}
