:root {
    --bg-color: #e8e7e5;
    --card-bg-color: #d1d0ce;
    --inverted-bg-color: #3e392c;
    --primary-color: #083336;
    --secondary-color: #091c1c;
    --inverted-primary-color: #b9c7c8;
    --inverted-secondary-color: #ebf0f0;
    --error-color: #cf2424;
    --skeleton-shadow: #c9c6bf;
    --skeleton-color: #bcbaaf;
}
