.app_purple_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #302154;
    --primary-color: #672d70;
    --secondary-color: #302154;
    --inverted-primary-color: #b9c7c8;
    --inverted-secondary-color: #faf4fb;
    --error-color: #cf2424;
}
