.app_purple_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #302154;
    --primary-color: #7e5086;
    --secondary-color: #302154;
    --inverted-primary-color: #b9c7c8;
    --inverted-secondary-color: #faf4fb;
    --error-color: #cf2424;
    --skeleton-shadow: #cbb7cf;
    --skeleton-color: #c1abc5;
}
