.root {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: var(--common-padding);
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right: var(--common-padding);
}