.root {
    position: relative;
}

.btn {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
}

.options {
    background: var(--app-select-bg-color);
    position: absolute;
    z-index: 11998;
    border-radius: 12px;
    box-shadow: 2px 2px 2px var(--app-select-bg-color);
}

.optionItem {
    padding: 10px 20px;
}

.active {
    background: var(--inverted-primary-color);
}

.disabled {
    opacity: 0.5;
}

.label {
    bottom: 0;
    margin-right: 10px;
}

.bottomLeft {
    top: 100%;
    left: 0;
}

.bottomRight {
    top: 100%;
    right: 0;
}

.topLeft {
    bottom: 100%;
    left: 0;
}

.topRight {
    bottom: 100%;
    right: 0;
}
